	{{> listerCircuitVuePartielle}}
	<div class="test">
		{{#each detailCircuit}}
			<img src="/image/circuit/{{this.ciradresseimage}}" alt="image du circuit" />
			<p>Nom : {{this.cirnom}}</p>
			<p>Longueur : {{this.cirlongueur}} m</p>
			<p>Nombre de spectateurs : {{this.cirnbspectateurs}}</p>
			<p>Pays : {{this.paynom}}</p>
			<p>{{this.cirtext}}</p>
		{{/each}}
	</div>
