{{> lettres}}
  <p></p>
	{{#each listeInfoPilote}}
  <div class="contenuPilote">
    <img class="sizeImageInfoPilote" src="/image/pilote/{{this.phoadresse}}" alt="image du pilote" />
    <div class="info1">
      <p><b>Nom : </b>{{this.pilnom}} {{this.pilprenom}}</p>
      <p><b>Date de naissance : </b>{{formatDate this.pildatenais 'DD MMMM YYYY' }}</p>
      <p><b>Nationalité : </b>{{this.paynat}}</p>
      {{#if this.ecunom}}
      <p><b>Ecurie : </b>{{this.ecunom}}</p>
      {{else}}
        <p><b>Ecurie : </b>Pas d'écurie cette année</p>
      {{/if}}
    </div>
    <div class="info2">
        <p><b>Poids : </b>{{this.pilpoids}} kg </p>
        <p><b>Taille : </b>{{this.piltaille}} cm </p>
    </div>
  </div> 
    
    
    {{#if ../listeSponsors}}
      <h2>Principaux sponsors :</h2>
      {{#each ../listeSponsors}}
          <b>{{this.sponom}} </b><span>({{this.sposectactivite}})</span><br />
      {{/each}}
    {{else}}
      <b>Aucun Sponsor</b><br />
    {{/if}}
    <br /><b>Qui suis-je ?</b><p>{{this.piltexte}}</p>
  {{/each}}
  {{#each listePhotos}}
<a href="/image/pilote/{{this.phoadresse}}" data-lightbox="image-1" data-title="{{this.phocommentaire}}">
<img class="sizeImageInfoPilote" src="/image/pilote/{{this.phoadresse}}" alt=""></a>
{{/each}}  

   