<h1 class="center">Saisie des résultats</h1>

<table class="table">
    <tr>
        <th></th>
        <th>Rang</th>
        <th>Pilote</th>
        <th>Temps de la course</th>
        <th>Nombre de points</th>
    </tr>

        {{#each listeTableau}}
    <tr>
        <td class="croix"><a href="/suppResultat/{{this.pilnum}}/{{this.gpnum}}"><img src="/image/act_delete.png"></a></td>
        <td>{{this.rang}}</td>
        <td>{{this.pilnom}}</td>
        <td>{{this.tempscourse}}</td>
        <td>{{this.Points}}</td>
    </tr>
    {{/each}}

    {{#ifCond  listeLigne.0.ligne '<' 10}}
        <form action="/ajoutResultat/{{listeTableau.0.gpnum}}" method="post">
            <td></td>
            <td>{{inc listeLigne.0.ligne}}</td>
            <td>
                <select name="pilnum">
                    {{#each listePilotes}}
                    <option value="{{this.pilnum}}">{{this.pilnom}}</option>
                    {{/each}}
                </select>
            </td>
            <td><input type="time" name="tempscourse" step="2" required></td>
            <td><input type="submit" value="Valider"></td>
       </form>
    {{/ifCond}}

</table>
