<h1 class="center">Modifier un sponsor</h1>
{{#each listeInfoSponsorSelect}}
  <form action="/sponsorModifie/{{this.sponum}}/{{this.ecunum}}" method="post">

      <label>Nom</label><input type="text" name="sponom" value="{{this.sponom}}" required><br /><br />
      <label>Secteur d'activite</label><input type="text" name="sposectactivite" value="{{this.sposectactivite}}" required><br /><br />
      <label>Ecurie sponsoriee</label>

      <select name="ecunum">
    <option value="NULL" selected>Aucune</option>
{{#each ../listeEcurieMemeQueSponsorSelect}}
  {{#if this.estmeme}}
    <option value="{{this.ecunum}}" selected>{{this.ecunom}}</option>
  {{else}}
    <option value="{{this.ecunum}}">{{this.ecunom}}</option>
  {{/if}}
{{/each}}
      </select><br /><br />
    <div class="center"><input type="submit" value="Modifier"></div>
  </form>
{{/each}}
