
    <h1 class="center">Modifier un pilote</h1>

    <form action="/piloteModifie/{{this.listeInfoModif.0.pilnum}}" method="post">
      <label>Prénom</label><input type="text" name="pilprenom" value="{{listeInfoModif.0.pilprenom}}" required><br /><br />
      <label>Nom</label><input type="text" name="pilnom" value="{{listeInfoModif.0.pilnom}}" required><br /><br />
      <label>Date de naissance</label><input type="date" name="pildatenais" value="{{formatDate listeInfoModif.0.pildatenais 'YYYY-MM-DD'}}" required><br /><br />
      <label>Nationalité</label>
      <select name="paynum">
            {{#each listeNationalitePreSelect}}
                {{#if this.estmeme}}
                    <option value="{{this.paynum}}" selected>{{this.paynat}}</option>
                {{else}}
                    <option value="{{this.paynum}}">{{this.paynat}}</option>
                {{/if}}
             {{/each}}
      </select><br /><br />
      <label>Ecurie</label>
      <select name="ecunum">
            {{#each listeEcuriePreSelect}}
                {{#if this.estmeme}}
                    <option value="{{this.ecunum}}" selected>{{this.ecunom}}</option>
                {{else}}
                    <option value="{{this.ecunum}}">{{this.ecunom}}</option>
                {{/if}}
            {{/each}}
      </select><br /><br />
      <label>Points</label>
        {{#if listeInfoModif.0.pilpoints}}
          <input type="text" name="pilpoints" size="10" value="{{listeInfoModif.0.pilpoints}}" required> pts<br /><br />
        {{else}}
          <input type="text" name="pilpoints" size="10" value="0" required> pts<br /><br />
        {{/if}}
      <label>Poids</label><input type="text" size="5" name="pilpoids" value="{{listeInfoModif.0.pilpoids}}" required> kg<br /><br />
      <label>Taille</label><input type="text" size="5" name="piltaille" value="{{listeInfoModif.0.piltaille}}" required> cm<br /><br />
      <label>Description</label><textarea  name="piltexte"  rows="10" cols="100" required>{{listeInfoModif.0.piltexte}}</textarea><br /><br />
      <div class="center"><input type="submit" value="Modifier"></div>
    </form>
